<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <servlet>
		<servlet-name>Buscar</servlet-name>
		<servlet-class>web.Buscar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Buscar</servlet-name>
		<url-pattern>/buscar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConsultaPadre</servlet-name>
		<servlet-class>web.ConsultaPadre</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultaPadre</servlet-name>
		<url-pattern>/consultaPadre</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidarA</servlet-name>
		<servlet-class>web.ValidarA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidarA</servlet-name>
		<url-pattern>/validarA</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidarD</servlet-name>
		<servlet-class>web.ValidarD</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidarD</servlet-name>
		<url-pattern>/validarD</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Recuperar</servlet-name>
		<servlet-class>web.Recuperar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Recuperar</servlet-name>
		<url-pattern>/recuperar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GuardarBitacora</servlet-name>
		<servlet-class>web.GuardarBitacora</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuardarBitacora</servlet-name>
		<url-pattern>/guardarBitacora</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GuardarAlumno</servlet-name>
		<servlet-class>web.GuardarAlumno</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuardarAlumno</servlet-name>
		<url-pattern>/guardarAlumno</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GuardarDocente</servlet-name>
		<servlet-class>web.GuardarDocente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuardarDocente</servlet-name>
		<url-pattern>/guardarDocente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>web.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ObtenerAlumno</servlet-name>
		<servlet-class>web.ObtenerAlumno</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObtenerAlumno</servlet-name>
		<url-pattern>/obtenerAlumno</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ObtenerDocente</servlet-name>
		<servlet-class>web.ObtenerDocente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObtenerDocente</servlet-name>
		<url-pattern>/obtenerDocente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginAlumno</servlet-name>
		<servlet-class>web.LoginAlumno</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginAlumno</servlet-name>
		<url-pattern>/loginAlumno</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginAdministrativo</servlet-name>
		<servlet-class>web.LoginAdministrativo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginAdministrativo</servlet-name>
		<url-pattern>/loginAdministrativo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Vista</servlet-name>
		<servlet-class>web.Vista</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Vista</servlet-name>
		<url-pattern>/vista
		    </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>web.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ObtenerGrado</servlet-name>
		<servlet-class>web.ObtenerGrado</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObtenerGrado</servlet-name>
		<url-pattern>/obtenerGrado</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>PaginaPrincipal.jsp</welcome-file>
	</welcome-file-list>
</web-app>
